/* CSS Document */
html {
  scroll-behavior: smooth;
}

body * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-family: Rubik,Raleway,sans-serif!important;
}

/* body blur on load */
@-webkit-keyframes image_blur {
  0% {
    -webkit-filter: blur(10px);
  }

  50% {
    -webkit-filter: blur(5px);
  }

  100% {
    -webkit-filter: blur(0px);
  }
}

body {
  -webkit-animation: image_blur 0.5s;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  font-size: 17.5px;
  color: #0d0d0d;
}

p {
  margin-top: 1rem;
}

p:first-child {
  margin-top: 0;
}

/* FONTS */
.fira {
  font-family: "Fira Sans Extra Condensed", Impact, sans-serif;
  font-weight: 700;
}

.source {
  font-family: "Source Serif Pro", sans-serif;
}

.lato {
  font-family: "Lato", sans-serif;
}

.text-thick {
  -webkit-text-stroke: 0.5px;
}

/* counter */
.fake-counter {
  font-variant-numeric: tabular-nums;
}

.timer-box {
  background-color: rgba(0, 0, 0, 0.2);
  /* ou #b91c1c para mais contraste */
  color: white;
  font-weight: bold;
  font-size: 1.25rem;
  padding: 4px 12px;
  border-radius: 4px;
  min-width: 48px;
  text-align: center;
  display: inline-block;
}

.timer-label {
  color: white;
  font-size: 0.75rem;
  text-align: center;
  display: block;
  margin-top: 2px;
  font-weight: 500;
  letter-spacing: 0.05em;
}

.timer-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* badges section */
.badges-section {
  padding: 1.5rem 1rem;
  border-radius: 12px;
  background-color: #f8f8f8;
  /* cor neutra para A/B testing */
  display: flex;
  justify-content: center;
}

.badges-container {
  display: flex;
  gap: 1.25rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 800px;
}

.badge svg {
  width: 64px;
  height: 64px;
  transition: transform 0.2s ease;
}

.badge:hover svg {
  transform: scale(1.05);
}

/* dot blink */
.online-dot {
  width: 10px;
  height: 10px;
  background-color: #22c55e;
  /* Tailwind green-500 */
  border-radius: 9999px;
  animation: blink 1.2s linear infinite;
}

@keyframes blink {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0.3;
  }
}

#hero-comments .comentario * {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif !important;
}



.bg-\[\#00000073\] {
  background-color: #00000073
}

.bg-\[\#00000091\] {
  background-color: #00000091
}

.bg-\[\#000033\] {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 51 / var(--tw-bg-opacity, 1))
}

.bg-\[\#0866FF\] {
  --tw-bg-opacity: 1;
  background-color: rgb(8 102 255 / var(--tw-bg-opacity, 1))
}

.bg-\[\#B7342B\] {
  --tw-bg-opacity: 1;
  background-color: rgb(183 52 43 / var(--tw-bg-opacity, 1))
}

.bg-\[\#F9A825\] {
  --tw-bg-opacity: 1;
  background-color: rgb(249 168 37 / var(--tw-bg-opacity, 1))
}

.bg-\[\#eeeeee\] {
  --tw-bg-opacity: 1;
  background-color: rgb(238 238 238 / var(--tw-bg-opacity, 1))
}

.bg-\[\#f0f6ff\] {
  --tw-bg-opacity: 1;
  background-color: rgb(240 246 255 / var(--tw-bg-opacity, 1))
}

.bg-\[\#ffa41c\] {
  --tw-bg-opacity: 1;
  background-color: rgb(255 164 28 / var(--tw-bg-opacity, 1))
}

.bg-accent {
  background-color: hsl(var(--accent))
}

.bg-background {
  background-color: hsl(var(--background))
}

.bg-badge {
  background-color: hsl(var(--badge))
}

.bg-black {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity, 1))
}

.bg-black\/20 {
  background-color: #0003
}

.bg-black\/30 {
  background-color: #0000004d
}

.bg-blue-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(219 234 254 / var(--tw-bg-opacity, 1))
}

.bg-blue-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(59 130 246 / var(--tw-bg-opacity, 1))
}

.bg-gray-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity, 1))
}

.bg-gray-200 {
  --tw-bg-opacity: 1;
  background-color: rgb(229 231 235 / var(--tw-bg-opacity, 1))
}

.bg-gray-50 {
  --tw-bg-opacity: 1;
  background-color: rgb(249 250 251 / var(--tw-bg-opacity, 1))
}

.bg-gray-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(107 114 128 / var(--tw-bg-opacity, 1))
}

.bg-green-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(220 252 231 / var(--tw-bg-opacity, 1))
}

.bg-green-400 {
  --tw-bg-opacity: 1;
  background-color: rgb(74 222 128 / var(--tw-bg-opacity, 1))
}

.bg-green-50 {
  --tw-bg-opacity: 1;
  background-color: rgb(240 253 244 / var(--tw-bg-opacity, 1))
}

.bg-green-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(34 197 94 / var(--tw-bg-opacity, 1))
}

.bg-green-600 {
  --tw-bg-opacity: 1;
  background-color: rgb(22 163 74 / var(--tw-bg-opacity, 1))
}

.bg-highlight {
  background-color: hsl(var(--highlight))
}

.bg-primary {
  background-color: hsl(var(--primary))
}

.bg-red-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(254 226 226 / var(--tw-bg-opacity, 1))
}

.bg-red-50 {
  --tw-bg-opacity: 1;
  background-color: rgb(254 242 242 / var(--tw-bg-opacity, 1))
}

.bg-red-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(239 68 68 / var(--tw-bg-opacity, 1))
}

.bg-red-600 {
  --tw-bg-opacity: 1;
  background-color: rgb(220 38 38 / var(--tw-bg-opacity, 1))
}

.bg-transparent {
  background-color: transparent
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1))
}

.bg-white\/10 {
  background-color: #ffffff1a
}

.bg-white\/20 {
  background-color: #fff3
}

.bg-white\/50 {
  background-color: #ffffff80
}

.bg-yellow-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(254 249 195 / var(--tw-bg-opacity, 1))
}

.bg-yellow-200 {
  --tw-bg-opacity: 1;
  background-color: rgb(254 240 138 / var(--tw-bg-opacity, 1))
}

.bg-yellow-400 {
  --tw-bg-opacity: 1;
  background-color: rgb(250 204 21 / var(--tw-bg-opacity, 1))
}

.bg-opacity-90 {
  --tw-bg-opacity: .9
}

.bg-\[radial-gradient\(\#e0e7ff_1px\,transparent_1px\)\] {
  background-image: radial-gradient(#e0e7ff 1px, transparent 1px)
}

.bg-\[radial-gradient\(circle\,rgba\(255\,255\,255\,0\.1\)_1px\,transparent_1px\)\] {
  background-image: radial-gradient(circle, rgba(255, 255, 255, .1) 1px, transparent 1px)
}

.bg-gradient-to-b {
  background-image: linear-gradient(to bottom, var(--tw-gradient-stops))
}

.bg-gradient-to-br {
  background-image: linear-gradient(to bottom right, var(--tw-gradient-stops))
}

.bg-gradient-to-r {
  background-image: linear-gradient(to right, var(--tw-gradient-stops))
}

.bg-gradient-to-t {
  background-image: linear-gradient(to top, var(--tw-gradient-stops))
}

.from-\[\#3b82f6\] {
  --tw-gradient-from: #3b82f6 var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(59 130 246 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to)
}

.from-\[\#fa8900\] {
  --tw-gradient-from: #fa8900 var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(250 137 0 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to)
}

.from-black {
  --tw-gradient-from: #000 var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(0 0 0 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to)
}

.from-blue-50 {
  --tw-gradient-from: #eff6ff var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(239 246 255 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to)
}

.from-blue-500 {
  --tw-gradient-from: #3b82f6 var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(59 130 246 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to)
}

.from-gradient-from {
  --tw-gradient-from: hsl(var(--gradient-from)) var(--tw-gradient-from-position);
  --tw-gradient-to: hsl(var(--gradient-from) / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to)
}

.from-gray-100 {
  --tw-gradient-from: #f3f4f6 var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(243 244 246 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to)
}

.from-green-50 {
  --tw-gradient-from: #f0fdf4 var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(240 253 244 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to)
}

.via-\[\#4f8ef5\] {
  --tw-gradient-to: rgb(79 142 245 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), #4f8ef5 var(--tw-gradient-via-position), var(--tw-gradient-to)
}

.via-white {
  --tw-gradient-to: rgb(255 255 255 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), #fff var(--tw-gradient-via-position), var(--tw-gradient-to)
}

.to-\[\#60a5fa\] {
  --tw-gradient-to: #60a5fa var(--tw-gradient-to-position)
}

.to-blue-50 {
  --tw-gradient-to: #eff6ff var(--tw-gradient-to-position)
}

.to-blue-600 {
  --tw-gradient-to: #2563eb var(--tw-gradient-to-position)
}

.to-gradient-to {
  --tw-gradient-to: hsl(var(--gradient-to)) var(--tw-gradient-to-position)
}

.to-gray-200 {
  --tw-gradient-to: #e5e7eb var(--tw-gradient-to-position)
}

.to-transparent {
  --tw-gradient-to: transparent var(--tw-gradient-to-position)
}

.to-white {
  --tw-gradient-to: #fff var(--tw-gradient-to-position)
}

.fill-gray-300 {
  fill: #d1d5db
}

.fill-gray-400 {
  fill: #9ca3af
}

.fill-highlight {
  fill: hsl(var(--highlight))
}

.fill-yellow-500 {
  fill: #eab308
}

.hover\:scale-105:hover {
  --tw-scale-x: 1.05;
  --tw-scale-y: 1.05;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.hover\:bg-\[\#FBC02D\]:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(251 192 45 / var(--tw-bg-opacity, 1))
}

.hover\:bg-\[\#fa8900\]:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(250 137 0 / var(--tw-bg-opacity, 1))
}

.hover\:bg-blue-600:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(37 99 235 / var(--tw-bg-opacity, 1))
}

.hover\:bg-gray-100:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity, 1))
}

.hover\:bg-gray-300:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(209 213 219 / var(--tw-bg-opacity, 1))
}

.hover\:bg-gray-600:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(75 85 99 / var(--tw-bg-opacity, 1))
}

.hover\:bg-green-500:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(34 197 94 / var(--tw-bg-opacity, 1))
}

.hover\:bg-green-700:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(21 128 61 / var(--tw-bg-opacity, 1))
}

.hover\:bg-highlight-dark:hover {
  background-color: hsl(var(--highlight-dark))
}

.hover\:bg-primary:hover {
  background-color: hsl(var(--primary))
}

.hover\:bg-white\/30:hover {
  background-color: #ffffff4d
}

.hover\:bg-yellow-500:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(234 179 8 / var(--tw-bg-opacity, 1))
}

.hover\:from-\[\#60a5fa\]:hover {
  --tw-gradient-from: #60a5fa var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(96 165 250 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to)
}

.hover\:from-blue-600:hover {
  --tw-gradient-from: #2563eb var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(37 99 235 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to)
}

.hover\:via-\[\#4f8ef5\]:hover {
  --tw-gradient-to: rgb(79 142 245 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), #4f8ef5 var(--tw-gradient-via-position), var(--tw-gradient-to)
}

.hover\:to-\[\#3b82f6\]:hover {
  --tw-gradient-to: #3b82f6 var(--tw-gradient-to-position)
}

.hover\:to-blue-700:hover {
  --tw-gradient-to: #1d4ed8 var(--tw-gradient-to-position)
}

.hover\:text-\[\#050505\]:hover {
  --tw-text-opacity: 1;
  color: rgb(5 5 5 / var(--tw-text-opacity, 1))
}

.hover\:text-\[\#0866FF\]:hover {
  --tw-text-opacity: 1;
  color: rgb(8 102 255 / var(--tw-text-opacity, 1))
}

.hover\:text-gray-500:hover {
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity, 1))
}

.hover\:text-gray-700:hover {
  --tw-text-opacity: 1;
  color: rgb(55 65 81 / var(--tw-text-opacity, 1))
}

.hover\:text-gray-900:hover {
  --tw-text-opacity: 1;
  color: rgb(17 24 39 / var(--tw-text-opacity, 1))
}

.hover\:text-primary:hover {
  color: hsl(var(--primary))
}

.hover\:text-white:hover {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1))
}

.hover\:underline:hover {
  text-decoration-line: underline
}

.hover\:shadow-2xl:hover {
  --tw-shadow: 0 25px 50px -12px rgb(0 0 0 / .25);
  --tw-shadow-colored: 0 25px 50px -12px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.hover\:shadow-xl:hover {
  --tw-shadow: 0 20px 25px -5px rgb(0 0 0 / .1), 0 8px 10px -6px rgb(0 0 0 / .1);
  --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color), 0 8px 10px -6px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.hover\:ring-4:hover {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(4px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000)
}

.hover\:ring-blue-300:hover {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(147 197 253 / var(--tw-ring-opacity, 1))
}

.hover\:ring-opacity-50:hover {
  --tw-ring-opacity: .5
}

.text-\[0\.9em\] {
  font-size: .9em
}

.text-\[13px\] {
  font-size: 13px
}

.text-\[15px\] {
  font-size: 15px
}

.text-\[20px\] {
  font-size: 20px
}

.text-\[25px\] {
  font-size: 25px
}

.text-\[27px\] {
  font-size: 27px
}

.text-\[30px\] {
  font-size: 30px
}

.text-\[32px\] {
  font-size: 32px
}

.text-\[35px\] {
  font-size: 35px
}

.text-\[55px\] {
  font-size: 55px
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.4s ease-out;
}


/* #bonus-popup */

#bonus-popup>div {
  max-width: 650px;
  width: 95%;
  padding: 0.8rem;
  max-height: 90vh;
  overflow-y: auto;
  border: #9f9f9f solid 1px;
}

#bonus-popup h2 {
  font-size: 1.5rem;
}

#bonus-popup p {
  padding-top: 4px;
  font-size: 0.78rem;
  line-height: 1.4;
}

#bonus-popup input,
#bonus-popup button {
  font-size: 0.9rem;
  padding: 0.3rem 0.5rem;
}

#bonus-popup img {
  width: 120px;
}

@media (max-width: 768px) {
  #bonus-popup>div {
    max-width: 95%;
    width: 95%;
    padding: 1.5rem;
    max-height: 90vh;
    overflow-y: auto;
    border: #9f9f9f solid 1px;
  }

  #bonus-popup h2 {
    font-size: 1.3rem;
  }

  #bonus-popup p {
    font-size: 0.8rem;
    line-height: 1.4;
  }

  #bonus-popup input,
  #bonus-popup button {
    font-size: 0.9rem;
    padding: 0.6rem 1rem;
  }

  #bonus-popup img {
    width: 120px;
  }
}
body.popup-open {
  overflow: hidden;
}

/* INICIO GLOBAL */


/* Estilos compactos para cards promocionais */

.cta-boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  gap: 12px;
}

/* Card base */
.cta-boxes .cta-box {
  border: 2px solid #eee;
  background-color: #fff;
  border-radius: 10px;
  padding: 8px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.14),
    0 1px 5px rgba(0, 0, 0, 0.12),
    0 3px 1px -2px rgba(0, 0, 0, 0.2);
  transition: all 0.4s;
  max-width: 320px;
  flex: 1 1 100%;
}

/* Hover */
.cta-boxes .cta-box:hover {
  border-color: #7ba0c4;
  background-color: #fffdf1;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.14),
    0 1px 18px rgba(0, 0, 0, 0.12),
    0 3px 5px -1px rgba(0, 0, 0, 0.3);
}

/* Título */
.cta-boxes .bottle-title {
  background-color: #065f46;
  padding: 10px;
  text-align: center;
  border-radius: 8px 8px 0 0;
}

.cta-boxes .bottle-title h3 {
  font-size: 24px;
  color: #fff;
  margin-bottom: 4px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: Lato, sans-serif;
}

.cta-boxes .bottle-title p {
  font-size: 16px;
  font-style: italic;
  color: #fff;
  font-family: "Source Serif Pro", serif;
  margin: 0;
}

/* Imagem do produto */
.cta-boxes .bottle-image {
  position: relative;
  margin: 12px 0;
  text-align: center;
}

.cta-boxes .bottle-image img {
  max-width: 100%;
  height: auto;
}

/* Preço */
.cta-boxes .price-details {
  margin: 10px 0;
}

.cta-boxes .price-details h4.price {
  font-size: 36px;
  font-weight: 600;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 8px;
  line-height: 1;
  font-family: Lato, sans-serif;
}

.cta-boxes .price-details h4.price .r {
  font-size: 56%;
}

.cta-boxes .price-details h4.price .pb {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  padding-left: 8px;
  padding-top: 10px;
  color: #4e4e4e;
  line-height: 1.1;
}

/* Strike vermelho */
.strike {
  position: relative;
  color: #999;
  font-weight: 500;
}

.strike::after {
  content: "";
  position: absolute;
  left: -4%;
  bottom: 40%;
  width: 108%;
  border-bottom: 2px solid #bc0000;
  transform: rotate(6deg);
}

/* Botão */
.cta-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-weight: 800;
  text-transform: uppercase;
  color: #333;
  background: linear-gradient(180deg, #f6dda1, #f0c14b);
  border: 1px solid #fff;
  border-color: #a88734 #9c7e31 #846a29;
  border-radius: 5px;
  padding: 10px;
  text-shadow: 1px 1px 0px #f9ffac;
  text-decoration: none;
  transition: 0.4s;
  position: relative;
}

.cta-button:hover {
  background: linear-gradient(180deg, #ffdf28, #ffca11);
  cursor: pointer;
}

/* Total e frete */
.cta-boxes h5.total {
  font-size: 16px;
  color: #666;
  text-align: center;
  margin: 12px 0 0;
}

.cta-boxes p.freeship {
  font-size: 13px;
  color: #666;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
}

/* Garantia */
.cta-boxes p.guarantee {
  font-size: 15px;
  color: #fff;
  background-color: #4b5563;
  text-transform: uppercase;
  text-align: center;
  margin: 10px 0 0;
  padding: 10px 5px;
  border-radius: 0 0 8px 8px;
  font-family: "Open Sans", sans-serif;
}

/* Badge de destaque */
.cta-boxes .badge {
  position: absolute;
  left: 0.5rem;
  bottom: 10%;
  width: 80px;
  filter: drop-shadow(0 1px 1px rgba(50, 90, 110, 0.125)) drop-shadow(0 1px 1px rgba(50, 90, 110, 0.15));
}

/* Ebooks */
.ebook {
  transform: skewX(1deg) skewY(-1deg);
}

/* Escalas para destaque (desktop) */
@media(min-width: 961px) {
  .cta-boxes .pack6 {
    transform: scale(1.02);
  }

  .cta-boxes .pack1,
  .cta-boxes .pack2,
  .cta-boxes .pack3 {
    transform: scale(0.88);
  }
}

/* Responsivo mobile */
@media(max-width: 767px) {
  .cta-boxes {
    flex-direction: column;
    max-width: 470px;
    margin: 0 auto;
    align-items: center;
  }

  .cta-boxes .cta-box {
    width: 80%;
    max-width: 420px;
    /* ou ajuste conforme o layout */
    margin-left: auto;
    margin-right: auto;
  }
}

/* Ordem padrão */
.cta-boxes .pack1,
.cta-boxes .pack2 {
  order: 1;
}

.cta-boxes .pack6 {
  order: 2;
}

.cta-boxes .pack3 {
  order: 3;
}

/* Ordem em telas pequenas (mobile) */
@media (max-width: 767px) {

  .cta-boxes .pack1,
  .cta-boxes .pack2 {
    order: 3;
  }

  .cta-boxes .pack6 {
    order: 1;
  }

  .cta-boxes .pack3 {
    order: 2;
  }
}